<template>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div
          v-for="(article, index) in articles"
          :key="index"
          class="column is-one-quarter"
        >
          <a :href="article.url" target="_blank">
            <div class="card">
              <!-- <div class="card-image">
                <figure class="image is-3by2">
                  <img :src="article.urlToImage" :alt="article.title" />
                </figure>
              </div>-->

              <div class="card-content">
                <h1>Title: {{ article.title }}</h1>
                <div class="content">Slug: {{ article.slug }}</div>
                <div class="content">Body: {{ article.body }}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  async asyncData({ app }) {
    const articles = await app.$axios.$get(`https://elasr.farend.ie/api/pages`)
    console.log(articles)
    return { articles }
  },
  layout: 'default2'
}
</script>
